---
import Image from "astro/components/Image.astro";
import heroImg from "../../assets/images/service_hero.png";
---

<header id="our_services">
    <h1 id="our_services_title">Our Services</h1>

    <p id="our_services_text">
        At Northern Beaches Smash Repairs, we offer a comprehensive range of
        services to get your vehicle back in top shape. Our skilled technicians
        handle everything from minor touch-ups to major structural repairs,
        ensuring your car looks and drives like new.
    </p>
</header>

<style>
    #our_services {
        display: flex;
        flex-direction: column;
        padding: var(--lg);
        gap: var(--sm);
    }

    #our_services_title {
        font-size: 3em;
        color: white;
        padding: 0em 0.2em;
        background-color: var(--red);
        width: fit-content;
    }
    @media (width >= 768px) {
        #our_services {
            padding: var(--tb);
            gap: var(--xl);
        }
    }
    @media (width >= 1024px) {
        #our_services {
            padding: var(--lt);
            gap: var(--xl);
        }
        #our_services_text {
            max-width: 65%;
        }
    }
    @media (width >= 1440px) {
        #our_services {
            padding: var(--dt);
            gap: var(--xl);
        }
    }

    @media (width >= 2560px) {
        #our_services {
            padding: var(--dt) var(--fk);
        }
    }
</style>
