---
---

<header id="our_services">
    <h1 id="our_services_title">Our Services</h1>
    <p id="our_services_text">At Northern Beaches Smash Repairs, we offer a comprehensive range of services to get your vehicle back in top shape. Our skilled technicians handle everything from minor touch-ups to major structural repairs, ensuring your car looks and drives like new.</p>
</header>

<style>
    #our_services{
        padding: var(--lg);
        display: flex;
        flex-direction: column;
        gap: var(--lg);
    }
    #our_services_title{
        font-size: 3em;
    }
    @media (width >= 768px){
        #our_services{
            padding: var(--tb)
        }
    }
    @media (width >= 1024px){
        #our_services{
            padding: var(--lt);
        }
    }
    @media (width >= 1440px){
        #our_services{
            padding: var(--dt);
        }
        #our_services_text{
            max-width: 50%;
        }
    }

    @media (width >= 2560px){
        #our_services{
            padding: var(--dt) var(--fk);
        }
    }
    
</style>