---

---
<section id="about_section">
    <fieldset id="about_us_content">
        <legend id="about_us_title">About Us</legend>
        <p id="about_us_text">Northern Beaches Smash Repairs was established in 1988. Serving the Northern beaches of Sydney for approximately 25 years. Our aim is to serve the northern beaches area with the highest service and proficiency. As a direct repairer for most major insurance companies, we meet the highest quality standards for vehicle repair and customer satisfaction. Whether it's a small scratch or major collision damage, we provide expert repairs with the personal service you demand.</p>
    </fieldset>
</section>

<style>
    #about_section{
        padding: var(--lg);
        background-color: var(--grey);
    }
    #about_us_content{
        border: 1px solid var(--dark-red);
        padding: var(--sm);
    }
    #about_us_title{
        text-align: center;
        padding: var(--sm);
        font-family: var(--h);
        text-transform: uppercase;
        font-size: 2em;
    }
    #about_us_text{
        text-align: center;
    }
</style>