---
import { getImage } from "astro:assets"
import shopHeroImg from "../../assets/images/shop_hero.webp"
const optimizedBackgroundImage = await getImage({ src: shopHeroImg })
---

<header id="about_us_hero" style={`background-image: url('${optimizedBackgroundImage.src}'); background-size: cover`}>
    <h2 id="about_us_title">Northern Beaches Smash Repairs</h2>
</header>



<style>
    #about_us_title{
        font-size: 3em;
        padding: var(--lg);
        text-shadow: var(--black) 2px 2px 4px;
    }
</style>