---


---
<section id="about_section">
    <div id="about_us_content">
        <h2 id="about_us_title">About Us</h2>
        <p >We at Northern Beaches Smash Repairs (NBSR), have proudly served the Northern Beaches area and beyond since 1988. We are passionately dedicated to placing our clients and their vehicles at the core of all our efforts, catering to both the local community and clients across Sydney.</p>
        <p id="about_us_text"> Our team at Northern Beaches Smash Repairs is not only devoted but also highly skilled and experienced. Our dedication and expertise ensure exceptional quality to every vehicle we repair.</p>
        <p id="about_us_text"> Specializing in insurance work for major companies and private repairs of any magnitude, we handle a wide range of services. From minor dents to complete restorations and customized fabrication, we ensure your car leaves our workshop in pristine condition, assuring your satisfaction and joy on the road.</p>
    </div>

    <div id="meet_rabeen">
        <h2 id="meet_rabeen_title">Meet Rabeen</h2>
        <p id="meet_rabeen_text">Owner and managing director, Rabeen Georges, is the heart behind Northern Beach Smash Repairs. With almost three decades of experience in the industry, Rabeen leads this family-owned business with a passion for high-quality customer service and satisfaction. Known for his commitment to delivering outstanding work without cutting corners, Rabeen ensures quality control for every vehicle repaired.
        </p>
    </div>
</section>

<style>

    #about_section{
        padding: var(--lg);
        background-color: #fff;
    }
    #about_us_content{
        border: 1px solid var(--dark-red);
        padding: var(--sm);
        background-color: var(--red);
        color: #fff
    }
    #about_us_title{
        text-align: center;
        padding: var(--lg);
        font-family: var(--h);
        text-transform: uppercase;
        font-size: 2.5em;
    }
    #about_us_text {
        margin-top: 24px;
    } 
    #meet_rabeen{
        display: flex;
        flex-direction: column;
        gap: var(--lg);
        align-items: center;
        padding: var(--xl) 0px;
        text-align: center;
    }
    #meet_rabeen_title{
        font-size: 2.5em;
    }
    @media (width >= 768px){
        #about_section{
            padding: var(--tb);
        }
        #about_us_content{
            padding: var(--sm) var(--xl) var(--xl)
        }
        #meet_rabeen{
            padding: var(--tb)
        }
        
    }
    @media (width >= 1024px){
        #about_section{
            padding: var(--lt);
        }
        #about_us_content{
            max-width: 65%;
            margin: 0px auto
        }
    }
    @media (width >= 1440px){
        #about_section{
            padding: var(--dt)
        }
        #about_us_content{
            max-width: 40%;
            padding: 0px var(--tb) var(--lg)
        }
        #meet_rabeen_text{
            max-width: 65%;
        }
    }
    @media (width >= 2560px){
        #about_section{
            padding: var(--dt) var(--fk)
        }
        #about_us_content{
            max-width: 40%;
            padding: 0px var(--tb) var(--tb)
        }
        #meet_rabeen{
            padding: var(--dt);
            max-width: 50%;
            margin: 0px auto
        }
    }
</style>