---
---

<section class="contact_information">
    <fieldset class="contact_container">
        <legend class="contact_title">Phone</legend>
        <div class="contact_content">
            <p class="contact_info">02 9939 1293</p>
            <p class="contact_info_desc">Call us to speak directly with our team. We’re available to answer any questions and arrange a time for your vehicle assessment.</p>
        </div>
    </fieldset>

    <fieldset class="contact_container">
        <legend class="contact_title">Email</legend>
        <div class="contact_content">
            <p class="contact_info">NBSR@email.com</p>
            <p class="contact_info_desc">Send us an email for any inquiries or to schedule an appointment. We’ll get back to you as soon as possible.</p>
        </div>
    </fieldset>
</section>

<style>
    .contact_container{
        border: 1px solid var(--dark-red);
        padding: var(--sm);
        margin: var(--lg);
    }
    .contact_title{
        text-align: center;
        padding: 0px var(--sm);
        font-family: var(--h);
        text-transform: uppercase;
        font-size: 2em;
    }
    .contact_info{
        text-align: center;
        font-weight: 600;
        margin-bottom: var(--sm);
    }
</style>