---
---

<header id="contact_hero">
    <h2 id="contact_hero_title">Lets get in touch.</h2>
    <p id="contact_hero_content">At Northern Beaches Smash Repairs, we're here to help you get back on the road with confidence. Whether you’ve had a minor scrape or a major collision, our expert team is ready to restore your vehicle to its best condition.</p>
</header>


<style>
    #contact_hero{
        background-color: var(--grey);
        padding: var(--lg);
        display: flex;
        flex-direction: column;
        gap: var(--md)
    }
    #contact_hero_title{
        font-size: 3em;
    }
</style>