---
---

<div id="visit_us">
    <h3 id="visit_us_title">Visit us</h3>
    <p id="visit_us_content">Drop by our workshop. Our skilled technicians are ready to assess your vehicle and discuss the best repair options.</p>
    <div>
        <iframe id="map" title="Map and location of Northern Beaches Smash Repairs" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.7144709875474!2d151.27569407649767!3d-33.76804351384852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12aa5f316a71d9%3A0xfa961b6610f2aa74!2sNorthern%20Beaches%20Smash%20Repairs!5e0!3m2!1sen!2sau!4v1725258501267!5m2!1sen!2sau" width="100%" height="300" style="border:1px solid var(--dark-red);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div id="location_details">
        <p>Northern Beaches Smash Repairs <br>6 Wattle Rd,<br>Brookvale, NSW. 2100</p>

        <div>
            Open 8:00am - 4:30pm, Monday to Friday.
        </div>
    </div>
    
</div>

<style>
    #visit_us{
        background-color: var(--grey);
        padding: var(--lg);
        display: flex;
        flex-direction: column;
        gap: var(--lg)
    }
    #visit_us_title{
        text-align: center;
        font-size: 2em;
    }
    #visit_us_content{
        text-align: center;
    }
    #location_details{
        border: 1px solid var(--dark-red);
        padding: var(--sm);
        display: flex;
        flex-direction: column;
        gap: var(--md);
        line-height: 2em;
    }
    @media (width >= 768px){
        #visit_us{
            padding: var(--tb);
            gap: var(--xl);
        }
    }
    @media (width >= 1024px){
        #visit_us{
            padding: var(--lt);
            gap: var(--tb);
        }
    }
    @media (width >= 1440px){
        #visit_us{
            flex-direction: row;
            flex-wrap: wrap;
            align-items: start;
            justify-content: center;
            padding: var(--dt);
            gap: var(--tb);
        }
        #visit_us_title{
            flex-grow: 1;
        }
        #visit_us_content{
            min-width: 100%;
        }
        #map{
            min-width: 600px;
        }
    }
</style>