---
import Image from "astro/components/Image.astro";
import bswd from '../assets/images/bswd.png'
---
<footer>
    <div id="footer_content">
        <div class="footer_links">
            <p>Socials</p>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100057514327147">Facebook</a></li>
                <li><a href="https://www.instagram.com/northern_beaches_smash_repairs/">Instagram</a></li>
            </ul>
        </div>
        
        <div class="footer_links">
            <p>Site Links</p>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </div>
    </div>
    <div id="bswd">
        <Image src={bswd} alt={'beachside web design logo'}/>
        <p id="beachside">Designed and developed by <a href="https://www.beachsidewebdesigns.com">beachside web designs.</a></p>
    </div>
</footer>

<style>
    footer{
        display: flex;
        flex-direction: column;
        padding: var(--lg);
        gap: var(--lg);
        background-color: var(--grey);
        border-top: 1px solid var(--red);
        color: #A5A2A2;
    }
  
    #footer_content{
        display: flex;
        justify-content: space-between;

    }
    .footer_links{
        display: flex;
        flex-direction: column;
        gap: var(--sm);
    }
    .footer_links ul{
        display: flex;
        flex-direction: column;
        gap: var(--sm)
    }
    .footer_links ul a{
        text-decoration: none;
        color: inherit;
    }
    .footer_links p{
        font-weight: 700;
        text-decoration: underline;
    }
    #beachside{
        text-align: center;
        font-size: 0.7em;
    }
    #bswd{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--sm)
    }
    #bswd a{
        text-decoration: none;
        color: var(--white);
    }
    @media (width >= 756px){
       footer{
            padding: var(--tb)
       }
    }
    @media (width >= 1024px){
        footer{
            padding: var(--tb) var(--lt) 10px;
        }
        #footer_content{
            justify-content: flex-start;
            gap: var(--tb);
            margin-bottom: var(--lg)
        }
    }
    @media (width >= 1440px){
        footer{
            padding: var(--tb) var(--dt) 10px;
       }
    }
    @media (width >= 1440px){
        footer{
            padding: var(--tb) var(--fk) 10px;
       }
    }
</style>