---
import Image from "astro/components/Image.astro"
import burgerIcon from '../assets/icons/burger.svg'
import phoneIcon from '../assets/icons/phone.svg'
---

<nav id="navbar">
    <p id="navbar_title">NBSR</p>
    
    <div id="navbar_controls">
        <button id="navbar_button--phone">
            <a href="tel:+02 9939 1293">
                <Image src={phoneIcon} alt="phone call button" loading='eager'>
            </a>
        </button>
        <button id="navbar_button--burger">
                <Image src={burgerIcon} alt="mobile navigation toggle button" loading='eager'>
        </button>
    </div>

    <div id="navbar_controls--desktop">
        <ul>
            <li><a>Services</a></li>
            <li><a>About</a></li>
            <li><a>Reviews</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
</nav>
<div id="mobile_menu">
    <ul>
        <li><a href="">Contact Us</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Reviews</a></li>
    </ul>
</div>

<style>
    #mobile_menu{
        position: fixed;
        background-color: var(--grey);
        width: 100%;
        display: none;
        transform: translateY(-340px);
        transition: all 0.2s ease-in-out;
        z-index: 1;
    }

    #mobile_menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-shadow: 0px 0px 10px var(--black);
    }

    #mobile_menu li{
        width: 100%;
        text-align: center;
    }

    #mobile_menu li a{
        text-decoration: none;
        color: white;
        display: block;
        width: 100vw;
        padding: var(--md) 0px;
    }

    #mobile_menu li:nth-of-type(odd){
        background-color: var(--black);
    }

    #navbar{
        background-color: var(--grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--sm) var(--lg);
        position: sticky;
        top: 0px;
        z-index: 2;
        box-shadow: 0px 0px 10px var(--black);
    }

    #navbar_title{
        font-family: var(--h);
        font-size: 2em;
    }

    #navbar_button--phone{
        background-color: transparent;
        border: 0px;
        height: 44px;
        width: 44px;
    }

    #navbar_button--phone img{
        max-width: 100%;
        max-height: 100%;
    }

    #navbar_button--burger{
        background-color: transparent;
        border: 0px;
        height: 44px;
        width: 44px;
    }

    #navbar_button--burger img{
        max-width: 100%;
        max-height: 100%;
    }

    #navbar_controls--desktop{
            display: none;
        }

    @media (width >= 768px) {
        #navbar{
            padding: var(--lg) var(--tb);
        }
        #navbar_button--burger{
            display: none;
        }
        #navbar_button--phone{
            display: none;
        }
        #navbar_controls--desktop{
            display: flex;
        }
        #navbar_controls--desktop ul{
            display: flex;
            gap: var(--md);
        }
        #navbar_controls--desktop ul li{
            cursor: pointer;
            padding: 0.5rem;
            transition: background-color 0.2s ease-in;
            transition: box-shadow 0.3s ease-out;
        }
        #navbar_controls--desktop ul li:hover{
            background-color: var(--red);
            box-shadow: 0px 0px 0px 3px white;
        }
    }
    @media (width >= 1024px) {
        #navbar_controls--desktop ul{
            gap: var(--lg)
        }
    }
    @media (width >= 1024px) {
        #navbar_controls--desktop ul{
            gap: var(--xl)
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const mobileMenuBtn = document.getElementById('navbar_button--burger');
        const mobileMenu = document.getElementById('mobile_menu');

        if (mobileMenuBtn && mobileMenu) {
            mobileMenuBtn.addEventListener('click', () => {
                const currentMobileMenuStyle = window.getComputedStyle(mobileMenu);

                if (currentMobileMenuStyle.display !== 'flex') {
                    mobileMenu.style.display = 'flex';
                    setTimeout(()=>{
                        mobileMenu.style.transform = 'translateY(0px)'
                    }, 1)

                } else {
                    mobileMenu.style.display = 'none';
                    mobileMenu.style.transform = 'translateY(-340px)'

                }
            });
        }
    });
</script>