---
---
<section id="about">
    <fieldset id="about_fieldset">
        <legend id="about_fieldset--legend">
            <h2>About Us</h2>
        </legend>
        <p>We at Northern Beaches Smash Repairs (NBSR), have proudly served the Northern Beaches area and beyond since 1988. We are passionately dedicated to placing our clients and their vehicles at the core of all our efforts, catering to both the local community and clients across Sydney.</p><p> Our team at Northern Beaches Smash Repairs is not only devoted but also highly skilled and experienced. Our dedication and expertise ensure exceptional quality to every vehicle we repair.</p><p> Specializing in insurance work for major companies and private repairs of any magnitude, we handle a wide range of services. From minor dents to complete restorations and customized fabrication, we ensure your car leaves our workshop in pristine condition, assuring your satisfaction and joy on the road.</p>
    </fieldset>
</section>

<style>
    #about{
        padding: var(--lg);
    }
    #about_fieldset{
        border: 1px solid var(--red);
        display: flex;
        flex-direction: column;
        padding: var(--sm);
        text-align: center;
    }
    #about_fieldset p{
        margin-top: 20px;
    }
    #about_fieldset--legend{
        align-self: center;
        width: 50%;
        text-align: center;
        font-size: 1.5rem;
    }
    @media (width >= 768px){
        #about{
            padding: var(--tb);
        }
        #about_fieldset{
            padding: var(--tb)
        }
        #about_fieldset--legend{
            font-size: 2em;
        }
    }
    @media (width >= 1024px){
        #about{
            padding: var(--lt)
        }
        #about_fieldset{
            padding: var(--lt)
        }
    }
    @media (width >= 1440px){
        #about{
            padding: var(--fk);
            display: flex;
            justify-content: center;
        }
        #about_fieldset{
            max-width: 50%;
            padding: var(--lt)
        }
    }
    @media (width >= 2560px){
        #about_fieldset{
            max-width: 35%;
        }
    }
</style>