---
---
<section id="about">
    <fieldset id="about_fieldset">
        <legend id="about_fieldset--legend">
            <h2>About Us</h2>
        </legend>
        <p>Northern Beaches Smash Repairs was established in 1988. Serving the Northern beaches of Sydney for approximately 25 years. <br> Our aim is to serve the northern beaches area with the highest service and proficiency. As a direct repairer for most major insurance companies, we meet the highest quality standards for vehicle repair and customer satisfaction. Whether it's a small scratch or major collision damage, we provide expert repairs with the personal service you demand.</p>
    </fieldset>
</section>

<style>
    #about{
        padding: var(--lg);
        background-color: var(--grey);
    }
    #about_fieldset{
        border: 1px solid var(--red);
        display: flex;
        flex-direction: column;
        padding: var(--sm);
        text-align: center;
    }
    #about_fieldset--legend{
        align-self: center;
        width: 50%;
        text-align: center;
        font-size: 1.5rem;
    }
    @media (width >= 768px){
        #about{
            padding: var(--tb);
        }
        #about_fieldset{
            padding: var(--tb)
        }
        #about_fieldset--legend{
            font-size: 2em;
        }
    }
    @media (width >= 1024px){
        #about{
            padding: var(--lt)
        }
        #about_fieldset{
            padding: var(--lt)
        }
    }
    @media (width >= 1440px){
        #about{
            padding: var(--fk);
            display: flex;
            justify-content: center;
        }
        #about_fieldset{
            max-width: 50%;
            padding: var(--lt)
        }
    }
    @media (width >= 2560px){
        #about_fieldset{
            max-width: 35%;
        }
    }
</style>