---
import { getImage } from "astro:assets"
import bgImage from "../../assets/images/car.webp"
const optimizedBackgroundImage = await getImage({ src: bgImage })
---

<header style={`background-image: url('${optimizedBackgroundImage.src}'); background-size: cover`}>
    <div  id="hero_content">
        <h1 id="hero_content_title">SMASH REPAIRS <span>DONE RIGHT</span> EVERY TIME.</h1>
        <p>Quality Workmanship with a Focus on Customer Satisfaction.</p>
    </div>
    <button id="hero_content_button">Contact Us</button>
</header>

<style>
    header{
        padding: var(--lg);
        display: flex;
        flex-direction: column;
        gap: var(--xl);
    }
    #hero_content_title{
        margin-bottom: var(--sm);
        font-size: 3em;
    }
    #hero_content_title span{
        background-color: var(--red);
        padding: 3px 6px;
        display: inline-block;
    }
    #hero_content_button{
        background-color: var(--red);
        color: white;
        border: 0px;
        max-width: fit-content;
        padding: var(--sm) var(--md);
        font-family: var(--p);
        text-transform: uppercase;
        align-self: end;
        font-weight: 600;
    }
</style>