---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---
<div class="our_service_card">
    <h3 class="our_service_card_title">{title}</h3>
    <p>{body}</p>
</div>

<style>
    .our_service_card{
        display: flex;
        flex-direction: column;
        gap: var(--sm);
        min-height: 150px;
        font-display: swap;
    }

    .our_service_card_title{
        font-size: 1.5em;
        background-color: var(--red);
        max-width: fit-content;
        padding: 0.2rem 0.5rem;
    }

    .our_service_card:nth-of-type(even){
        text-align: right;
    }
    .our_service_card:nth-of-type(even) h3{
        align-self: end;
    }
    @media (width >= 768px){
        .our_service_card{
            max-width: calc(50%);
        }
        .our_service_card:nth-last-of-type(even){
            align-self: end;

        }

    }
    @media (width >= 1024px){
        .our_service_card{
            max-width: calc(50% - var(--tb));
            min-height: 437px;
        }
        .our_service_card p{
            text-align: left;
        }
        .our_service_card:nth-last-of-type(even){
            align-self: end;
            text-align: left;
        }
        .our_service_card:nth-of-type(even) h3, h3{
            align-self: center;
            text-align: left;
        }
       .our_service_card_title{
            min-width: 100%;
       }
    }
    @media (width >= 1440px){
        .our_service_card{
            max-width: calc(100% / 3);
            
        }        
    }
    @media (width >= 2560px){
        .our_service_card{
            max-width: calc(calc(100% / 3) - var(--dt));
            
        }        
    }
</style>