---
import OurServiceCard from "./OurService_Card.astro";


---
<main id="services">
    <h2 id="services_title">Our Service</h2>
    <div id="services_container">
        <OurServiceCard 
            title="Panel Beating" 
            body="When accidents happen, the last thing you want is to be reminded every time you look at your car. Our panel beating experts bring your vehicle back to life, erasing dents, bumps, and bruises with precision and care. Whether it’s a minor scratch or major damage, we restore your car to its former glory, so it looks just as good—if not better—than before."/>
        <OurServiceCard 
            title="SPRAY PAINTING"
            body="Time for a fresh coat? Our spray painting service doesn’t just cover up imperfections—it enhances your car’s appearance. We use cutting-edge technology and premium paint to seamlessly match your car’s original colour, or if you want to switch things up, we’ll help you find the perfect new shade. Expect a flawless finish that turns heads on every drive."/>
        <OurServiceCard
            title="Paintless Dent Removal"
            body="Got a ding or dent but don’t want to repaint? Our paintless dent removal service is your solution. Using advanced techniques, we work the dents out from behind the panel, leaving your paintwork untouched. It’s quick, efficient, and cost-effective—perfect for those small but annoying dents."/>
        <OurServiceCard
            title="Windscreen Replacement"
            body="Cracked windscreen? Broken side window? No problem. Our windscreen and glass replacement services ensure that your vision is crystal clear and your vehicle is safe. We work with the best glass suppliers to offer quick, high-quality replacements that meet or exceed safety standards. Drive with peace of mind knowing your car is as secure as ever."/>
        <OurServiceCard
            title="Detailing"
            body="It’s the little things that make a big difference. Our comprehensive detailing service covers everything from a thorough clean to restoring the finer details of your car's interior and exterior. Whether you need a regular touch-up or a full deep clean, we leave your car looking spotless and showroom ready."/>
        <OurServiceCard
            title="Restoration & Fabrication"
            body="For classic car enthusiasts or those looking to rebuild a cherished vehicle, our restoration and fabrication services are the answer. We’re passionate about bringing cars back to their original beauty, and with expert craftsmanship, we handle everything from custom bodywork to fine detailing. Your dream car? We’ll help you create it from the ground up."/>
        </div>
</main>

<style>
    #services{
        padding: var(--lg);
        display: flex;
        flex-direction: column;
        gap: var(--lg);
        background-color: var(--grey);

    }
    
    #services_title{
        text-align: center;
        font-size: 2.5em;
    }

    #services_container{
        display: flex;
        flex-direction: column;
        gap: var(--lg);
    }
    @media (width >= 768px){
        #services{
            padding: var(--tb);
            gap: var(--tb)
        }
        #services_title{
            font-size: 3em;
        }
    }
    @media (width >= 1024px){
        #services{
            padding: var(--lt);
            gap: var(--lt);
        }
        #services_container{
            flex-direction: row;
            gap: var(--lt);
            flex-flow: wrap;
            justify-content: center;
        }
    }
    @media (width >= 1440px){
        #services{
            padding: var(--dt);
            gap: var(--dt);
        }
    }
    @media (width >= 2560px){
        #services{
            padding: var(--dt) var(--fk);
        }
    }
</style>