---
---

<section id="trusted_partners">
    <h2 id="trusted_partners-title">Trusted Partners</h2>
    <div id="trusted_partner--container">
        <img src="./icons/nrma.svg" alt="nrma logo">
        <img src="./icons/allianz.svg" alt="nrma logo">
    </div>
</section>

<style>
    #trusted_partners{
        padding: var(--lg);
        display: flex;
        flex-direction: column;
        gap: var(--lg);
    }

    #trusted_partners-title{
        font-size: 2em;
        text-align: center;
    }

    #trusted_partner--container{
        display: flex;
        justify-content: space-evenly;
    }

    #trusted_partner--container img{
        max-height: 25%;
        max-width: 25%;
    }
</style>